<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">

  <mat-card class="box">
    <mat-card-header>
      <mat-card-title>Log in</mat-card-title>
    </mat-card-header>

    <form class="example-form">
      <mat-card-content>
        <mat-form-field class="example-full-width">
          <input id="name" matInput placeholder="Username" [formControl]="username" required>
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <!--label="userName.label" formControlName="password"-->
          <input type="password" matInput placeholder="Password"  [formControl]="password" required>
        </mat-form-field>
        <div *ngIf="username.invalid && (username.dirty || username.touched)">
        <p *ngIf="username.errors.required"> Please enter username </p>
        <p *ngIf="password.errors.required"> Please enter password </p>
        </div>
      </mat-card-content>
      <button mat-stroked-button color="accent" class="btn-block" (click)="openScreenAcceuil()">Log in</button>
      </form>
  </mat-card>
</div>
