<div>
  <p style="text-align: center;">Bienvenue voici une application de recherche de film</p>

<!--   <ng-template #filmTemplat let-r="result" let-t="term">
      <ng-template #input>
          <div class="input-message">{{title}}</div>
      </ng-template> 
    </ng-template>  
    <div [ngClass]="{
        'without-hover' : searchFailed,
        'with-hover' : !searchFailed
    }" class="custom-dropdown">   -->
    <div style="width: 20em; left: 50em;" class="input-group">
  <input type="search" class="form-control rounded" placeholder="Rechercher un film par titre" aria-label="Search"
    aria-describedby="search-addon" />
  <button type="button" class="btn btn-outline-primary">search</button>
</div>



   
  <!--   <input type="text" class="form-control form-control-sm ml-3-w-75"
    type="text" placeholder="Search"
     (selectItem)="detailFilm($event.item)" [(ngModel)]="model" mdbInput>
    -->
   <!--   <button class="btn btn-light input-right search-button" type="submit">
        <svg-icon src="assets/img/icons/search-black.svg"></svg-icon>
    </button>    
 -->
</div>
